In [1]:
import pandas as pd
import seaborn as sns

cpu = pd.read_csv("cpu.csv")
core_count = pd.DataFrame()
launch_date = pd.DataFrame()
TDP = pd.DataFrame()

In [2]:
print(cpu.columns)
cpu

Index(['number', 'generation', 'series', 'status', 'core_count', 'max_freq',
       'base_freq', 'TDP', 'smart cache', 'cache size', 'launch year'],
      dtype='object')

,number,generation,series,status,core_count,max_freq,base_freq,TDP,smart cache,cache size,launch year
0,i3-1215UL,12,i3,Launched,6,1.20 GHz,1.20 GHz,15.0,yes,10,2022
1,i3-12300HL,12,i3,Launched,8,2.00 GHz,2.00 GHz,45.0,yes,12,2022
2,i3-1215UE,12,i3,Launched,6,3.30 GHz,3.30 GHz,15.0,yes,10,2022
3,i3-1220PE,12,i3,Launched,8,3.10 GHz,3.10 GHz,28.0,yes,12,2022
4,i3-1220P,12,i3,Launched,10,3.30 GHz,3.30 GHz,28.0,yes,12,2022
...,...,...,...,...,...,...,...,...,...,...,...
663,i9-9880H,9,i9,Launched,8,2.30 GHz,2.30 GHz,45.0,yes,16,2019
664,i9-9980HK,9,i9,Launched,8,2.40 GHz,2.40 GHz,45.0,yes,16,2019
665,i9-9900KF,9,i9,Launched,8,3.60 GHz,3.60 GHz,95.0,yes,16,2019
666,i9-9900K,9,i9,Launched,8,3.60 GHz,3.60 GHz,95.0,yes,16,2018
667,i9-8950HK,8,i9,Launched,6,2.90 GHz,2.90 GHz,45.0,yes,12,2018

In [3]:
# generation colum
core_count['generation'] = cpu['generation'].unique()

core_count['min_core'] = core_count['generation'].apply(lambda x : cpu[cpu['generation'] == x]['core_count'].min())
core_count['max_core'] = core_count['generation'].apply(lambda x : cpu[cpu['generation'] == x]['core_count'].max())
core_count['avg_core'] = core_count['generation'].apply(lambda x : cpu[cpu['generation'] == x]['core_count'].agg(lambda x: (x.min()+x.max())/2))

core_count.sort_values(by='generation', inplace=True)
core_count.reset_index()
core_count

   generation  min_core  max_core  avg_core
8           4         2         4       3.0
7           5         2         4       3.0
6           6         2         4       3.0
5           7         2         4       3.0
4           8         2         6       4.0
3           9         4         8       6.0
2          10         2        10       6.0
1          11         2         8       5.0
0          12         4        16      10.0
9          13         8        24      16.0

In [4]:
launch_date['year'] = cpu['launch year'].unique()

launch_date['i3'] = launch_date['year'].apply(lambda x : len(cpu[(cpu['series'] == 'i3') & (cpu['launch year'] == x)]))
launch_date['i5'] = launch_date['year'].apply(lambda x : len(cpu[(cpu['series'] == 'i5') & (cpu['launch year'] == x)]))
launch_date['i7'] = launch_date['year'].apply(lambda x : len(cpu[(cpu['series'] == 'i7') & (cpu['launch year'] == x)]))
launch_date['i9'] = launch_date['year'].apply(lambda x : len(cpu[(cpu['series'] == 'i9') & (cpu['launch year'] == x)]))

launch_date.sort_values(by = 'year', inplace=True)
launch_date.reset_index()
launch_date

    year  i3  i5  i7  i9
9   2013  17  31  26   0
8   2014  17  24  21   0
7   2015  20  29  30   0
6   2016   3   5   7   0
5   2017  15  21  16   0
4   2018   9  18  14   2
3   2019  18  29  21   6
2   2020  13  22  20  10
1   2021  11  22  17  10
0   2022  16  30  27  12
10  2023   0  28  19  12

In [5]:
TDP['generation'] = cpu['generation'].unique()
TDP['min TDP'] = TDP['generation'].apply(lambda x: cpu[cpu['generation']==x]['TDP'].min())
TDP['max TDP'] = TDP['generation'].apply(lambda x: cpu[cpu['generation']==x]['TDP'].max())
TDP['avg TDP'] = TDP['generation'].apply(lambda x: cpu[cpu['generation']==x]['TDP'].agg(lambda x : (x.max()+x.min())/2))

TDP.sort_values(by='generation', inplace=True)
TDP.reset_index()
TDP

   generation  min TDP  max TDP  avg TDP
8           4     11.5     88.0    49.75
7           5     15.0     65.0    40.00
6           6     15.0     91.0    53.00
5           7      4.5     91.0    47.75
4           8      5.0    100.0    52.50
3           9     25.0    127.0    76.00
2          10      5.0    125.0    65.00
1          11     15.0    125.0    70.00
0          12      9.0    150.0    79.50
9          13     15.0    150.0    82.50

In [6]:
cpu.to_csv('data/cpu.csv', index=False)
core_count.to_csv('data/core_count.csv', index=False)
launch_date.to_csv('data/launch_date.csv', index=False)
TDP.to_csv('data/TDP.csv', index=False)